{% extends "layout.html" %}
{% block content %}

<section class="content-section">
    			<form method="POST" action="/predict">
    				 <div class="form-group">
    				 		<div class="row">


<!--  COLUMN ONE  -->
    				 			
    				 	<div class="col-lg-6">

    				 		<h1>Rossmann Store Sales Predictor</h1>	

    				 		<p> Rossmann operates over 3,000 drug stores in 7 European countries. Currently, Rossmann store managers are tasked with predicting their daily sales for up to six weeks in advance. Store sales are influenced by many factors, including promotions, competition, school and state holidays, seasonality, and locality. With thousands of individual managers predicting sales based on their unique circumstances, the accuracy of results can be quite varied.</p>

    				 		<h1>
							  {% if label %} {{ label }} {% endif %}
							</h1>

						  <br>
						  <button class="btn btn-lg btn-primary" type="submit">
						  	Predict
						  </bitton> 

						</div>


<!--  COLUMN TWO  -->

<!--  START OF PART 2.2 -->

						<div class="col-lg-6 mx-auto"><br>	


    					<!--  YOUR CODE START HERE-->
    					<!--  Follow comments further down for all 5 dropdowns -->
    					<!-- 
    						 1. create drop-down for "Day_of_the_Week" feature
						-->
						<label for="day_of_the_week">Day of the Week</label>
						<select name="day_of_the_week_option" class="day_of_the_week_option"> 
							<option>Mon</option>
							<option>Tue</option>
							<option>Wed</option>
							<option>Thu</option>
							<option>Fri</option>
							<option>Sat</option>
							<option>Sun</option>
						</select>
						<br>
						 

						<!-- 
    						 2. create drop-down for "Open" feature
						-->
						<label for="open">Open</label>
						<select name="open_option" class="open_option"> 
							<option>0</option>
							<option>1</option>
						</select>
						<p><small>Mon - Sun | Open = 1 </small>
						</p>
								

						<!-- 
    						 3. create drop-down for "Promo" feature
						-->

						<label for="promo">Promo</label>
						<select name="promo_option" class="promo_option"> 
							<option>0</option>
							<option>1</option>
						</select>
						<p><small>store running a Promo = 0/1 </small></p>

						    
						<!-- 
    						 4. create drop-down for "State Holiday" feature
						-->
						<label for="state_holliday">State Holiday</label>
						<select name="state_holliday_option" class="state_holliday_option"> 
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						</select>
						<br>

						<!-- 
    						 5. create drop-down for "School Holiday" feature
						-->    
					    <label for="school_holliday">School Holiday</label>
					    <select name="school_holliday_option" class="school_holliday_option"> 
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						</select>
						<p><small>1 = None | 1 = public holiday <br> 3 = Easter holiday | 4 = Christmas</small></p>


<!--  END OF PART 2.2 -->

					    <div class="input-group">
							  <div class="input-group-prepend">
							    <span class="input-group-text">Store #</span>
							  </div>
							  <input type="text" name="store" value = "1" class="form-control" aria-label="With textarea">
						</div>
					</div>	      
				</div>
  			</div>
    			</div>
    		</form>
    	</div>
    </div>
</section>		

{% endblock %}